{% load i18n %}

<div class="carousel-item h-full w-full">
  <section id="page-{{ page.id }}"
    class="relative card border border-base-300 bg-base-200 rounded-box lg:mx-auto lg:max-w-4xl">
    <header
      class="absolute inset-x-0 top-0 z-10 backdrop-blur-3xl flex items-center justify-between gap-2 p-4 rounded-t-box">
      <div class="tooltip tooltip-bottom" data-tip="{% translate 'Read' %}">
        <a href="{% url 'al-quran:chapter-details' page.chapter_id %}" class="badge badge-xs badge-primary lg:badge-md">
          <h4 style="font-family: '{{ user.font|default:'Noto Kufi Arabic' }}';">سُورَةُ {{ page.chapter }}</h4>
        </a>
      </div>

      <div class="tooltip tooltip-bottom" data-tip="{% translate 'Read' %}">
        <a href="{% url 'al-quran:part-details' page.part_id %}" class="badge badge-xs badge-secondary lg:badge-md">
          {{ page.part }}
        </a>
      </div>
    </header>

    <main class="card-body px-4 grow py-20 overflow-y-auto lg:px-6">
      <div role="text" class="text-center " style="font-family: '{{ user.font|default:'Noto Kufi Arabic' }}';">
        {% for verse in page.verses.all %}
        {% if verse.number == 1 %}
        <div class="card card-body flex-row items-center justify-between rounded-box bg-base-100 shadow-sm my-4">
          <div class="tooltip tooltip-bottom" data-tip="{% translate 'Order' %}">
            <span class="badge badge-xs badge-neutral lg:badge-md">
              <span class="hidden md:block">{% translate 'Chapter' %} </span>
              {{ verse.chapter.id }}
            </span>
          </div>

          <h1 class="text-lg font-bold lg:text-2xl">سُورَةُ {{ verse.chapter }}</h1>

          <div class="tooltip tooltip-bottom" data-tip="{% translate 'Verse count' %}">
            <span class="badge badge-xs badge-neutral lg:badge-md">
              <span class="hidden md:block">{% translate 'Verses' %} </span>
              {{ verse.chapter.verse_count }}
            </span>
          </div>
        </div>

        <span class="block mb-4 text-primary text-base/8 lg:text-2xl/12">{{ verse.content|slice:'0:39' }}</span>
        <span id="verse-{{ verse.number }}" class="text-base/8 lg:text-2xl/12">{{ verse.content|slice:'39:' }}</span>
        {% else %}
        <span id="verse-{{ verse.number }}" class="text-base/8 lg:text-2xl/12">{{ verse.content }}</span>
        {% endif %}

        <button type="button" class="btn btn-xs btn-square btn-primary lg:btn-sm"> {{ verse.number }} </button>
        {% endfor %}
      </div>
    </main>

    <footer
      class="absolute inset-x-0 bottom-0 z-10 backdrop-blur-3xl flex items-center justify-between gap-2 p-4 rounded-b-box">
      <div class="tooltip tooltip-top" data-tip="{% translate 'Read' %}">
        <a href="{% url 'al-quran:group-details' page.group_id %}" class="badge badge-xs badge-accent lg:badge-md">
          {{ page.group }}
        </a>
      </div>

      <span class="badge badge-xs badge-primary lg:badge-lg">{{ page.id }}</span>

      <div class="tooltip tooltip-top" data-tip="{% translate 'Read' %}">
        <a href="{% url 'al-quran:quarter-details' page.quarter_id %}" class="badge badge-xs badge-success lg:badge-md">
          {{ page.quarter }}
        </a>
      </div>
    </footer>
  </section>
</div>