{% load i18n %}

<div class="carousel-item h-fit min-h-full w-full lg:w-1/2">
  <article id="page-{{ page.id }}" class="relative card bg-base-100 rounded-box">
    <header class="absolute inset-x-0 top-0 flex items-center justify-between gap-4 px-4 py-2 glass lg:rounded-t-box">
      <div class="tooltip tooltip-bottom" data-tip="{% translate 'Read' %}">
        <a href="{% url 'al-quran:chapter-details' page.part_id %}" class="badge badge-xs badge-primary">
          <h4 style="font-family: 'Noto Kufi Arabic';">{{ page.chapter }}</h4>
        </a>
      </div>

      <div class="tooltip tooltip-bottom" data-tip="{% translate 'Read' %}">
        <a href="{% url 'al-quran:part-details' page.part_id %}" class="badge badge-xs badge-secondary">
          {{ page.part }}
        </a>
      </div>
    </header>

    <main class="card-body grow px-4 py-12">
      <div role="text" class="text-center" style="font-family: 'Noto Kufi Arabic';">
        {% for verse in page.verses.all %}
        {% if verse.number == 1 %}
        {% with chapter=verse.chapter %}
        <div class="flex items-center justify-between gap-4 p-4 rounded-box bg-base-300 my-4">
          <span class="badge badge-xs badge-accent">
            {% if chapter.type %}{% translate 'Meccan' %}{% else %}{% translate 'Medinan' %}{% endif %},
            {{ chapter.verse_count }} {% translate 'verses' %}
          </span>

          <span class="text-2xl font-black">{{ chapter }}</span>

          <div class="tooltip tooltip-right" data-tip="{% translate 'Order of the chapter' %}">
            <span class="badge badge-xs badge-success">#{{ chapter.id }}</span>
          </div>
        </div>
        {% endwith %}

        <span class="block text-primary text-3xl/12 mb-4">بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِ</span>

        <span id="verse-{{ verse.number }}" class="text-xl/12">{{ verse.content|slice:'39:' }}</span>
        {% else %}
        <span id="verse-{{ verse.number }}" class="text-xl/12">{{ verse.content }}</span>
        {% endif %}

        <span class="btn btn-xs btn-soft btn-primary">{{ verse.number }} </span>
        {% endfor %}
      </div>
    </main>

    <footer
      class="absolute inset-x-0 bottom-0 flex items-center justify-between gap-4 px-4 py-2 glass lg:rounded-b-box">
      <div class="tooltip tooltip-top" data-tip="{% translate 'Read' %}">
        <a href="{% url 'al-quran:group-details' page.group_id %}" class="badge badge-xs badge-accent">
          {{ page.group }}
        </a>
      </div>

      <span class="badge badge-xs badge-primary">{{ page.id }}</span>

      <div class="tooltip tooltip-top" data-tip="{% translate 'Read' %}">
        <a href="{% url 'al-quran:quarter-details' page.quarter_id %}" class="badge badge-xs badge-success">
          {{ page.quarter }}
        </a>
      </div>
    </footer>
  </article>
</div>