{% load i18n %}
<!-- prettier-ignore -->
{% if page_obj %}
<ol class="join flex-wrap">
  <!-- prettier-ignore -->
  {% if page_obj.has_previous %}
  <li
    class="tooltip tooltip-top tooltip-primary"
    data-tip="{% translate 'Previous' %}"
  >
    <a
      href="?page={{ page_obj.previous_page_number }}"
      class="btn join-item btn-primary btn-soft"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-left size-4 lg:size-6 rtl:rotate-180"
      >
        <path d="m15 18-6-6 6-6" />
      </svg>

      <span class="sr-only">{% translate 'Previous' %}</span>
    </a>
  </li>

  <li
    class="tooltip tooltip-top tooltip-secondary"
    data-tip="{% translate 'First' %}"
  >
    <a href="?page=1" class="btn join-item btn-secondary btn-soft">
      <!-- prettier-ignore -->
      {% translate 'First' %}
    </a>
  </li>
  {% endif %}

  <li
    class="tooltip tooltip-top tooltip-accent"
    data-tip="{% translate 'Current' %}"
  >
    <button class="btn join-item btn-accent btn-soft">
      {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </button>
  </li>

  <!-- prettier-ignore -->
  {% if page_obj.has_next %}
  <li
    class="tooltip tooltip-top tooltip-secondary"
    data-tip="{% translate 'Last' %}"
  >
    <a
      href="?page={{ page_obj.paginator.num_pages }}"
      class="btn join-item btn-secondary btn-soft"
    >
      <!-- prettier-ignore -->
      {% translate 'Last' %}
    </a>
  </li>

  <li
    class="tooltip tooltip-top tooltip-primary"
    data-tip="{% translate 'Next' %}"
  >
    <a
      href="?page={{ page_obj.next_page_number }}"
      class="btn join-item btn-primary btn-soft"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-right size-4 lg:size-6 rtl:rotate-180"
      >
        <path d="m9 18 6-6-6-6" />
      </svg>

      <span class="sr-only">{% translate 'Next' %}</span>
    </a>
  </li>
  {% endif %}
</ol>
{% endif %}
