/* Run this command to generate the output file
npx @tailwindcss/cli -i ..\static\ui\css\app.css -o ..\static\ui\css\styles.css --cwd ..\..\templates\ -m
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai&family=Amiri&family=Amiri+Quran&family=Cairo+Play&family=Fustat&family=Kufam&family=Noto+Sans+Arabic&family=Noto+Kufi+Arabic&family=Noto+Sans&family=Noto+Serif&family=Reem+Kufi&family=Reem+Kufi+Fun&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-mono: "Jetbrains Mono", monospace;
  --font-sans: "Noto Sans", ui-sans-serif, system-ui;
  --font-serif: "Noto Serif", ui-serif;
  --font-kufam: Kufam, system-ui;
  --font-amiri: Amiri, system-ui;
  --font-fustat: Fustat, system-ui;
  --font-almarai: Almarai, system-ui;
  --font-reem: "Reem Kufi", system-ui;
  --font-cairo: "Cairo Play", system-ui;
  --font-kufi: "Noto Kufi Arabic", system-ui;
  --font-reem-fun: "Reem Kufi Fun", system-ui;
  --font-amiri-quran: "Amiri Quran", system-ui;
  --font-noto-ar: "Noto Sans Arabic", system-ui;
}

@plugin "daisyui" {
  themes:
    silk --default,
    luxury --prefers-dark,
    light,
    dark,
    lofi,
    caramellatte,
    cupcake,
    winter,
    dim,
    night,
    forest,
    sunset;
}

@layer base {
  * {
    @apply font-sans rtl:font-kufi;
  }

  .font-inherit * {
    @apply font-[inherit];
  }
}
