{% extends 'cms/home.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block children %}
<section class="grid gap-6">
  <h2 class="text-xl font-bold text-primary lg:text-3xl">
    {% trans 'Recent posts' %}
  </h2>

  <ol class="grid grid-cols-12 gap-4 lg:gap-6">
    {% for post in page.get_children.specific %}
    <li class="col-span-12 md:col-span-6 lg:col-span-4">
      <div
        class="card shadow-sm size-full card-sm hover:shadow-xl md:card-md lg:card-lg xl:card-xl"
      >
        <div class="card-body gap-4 lg:gap-6">
          <h2 class="card-title text-primary">{{ post.title }}</h2>

          <p>{{ post.headline }}</p>

          <a href="{% pageurl post %}" class="btn btn-primary lg:btn-lg">
            {% trans 'Learn more' %}
            <i
              data-lucide="chevron-right"
              class="size-4 lg:size-6 rtl:rotate-180"
            ></i>
          </a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>
</section>
{% endblock %}
