{% extends 'ui/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{{ block.super }} | {{ page.title }}{% endblock %}

<!---->
{% block content %}
<section class="container mx-auto px-4">
  <article class="prose prose-sm md:prose-md lg:prose-lg xl:prose-xl">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.headline }}</h2>

    {{ page.content }}

    <!---->
    {% for tag in page.tags.all %}
    <span class="badge badge-soft {% cycle 'badge-primary' 'badge-secondary' 'badge-accent' 'badge-success' 'badge-warning' 'badge-danger' %}">
      {{ tag }}
    </span>
    {% endfor %}
  </article>
</section>
{% endblock %}