<!-- prettier-ignore -->
{% extends "registration/base.html" %}{% load i18n %}
<!-- prettier-ignore -->
{% block title %}
<!-- prettier-ignore -->
{{ block.super }} |
<!-- prettier-ignore -->
{% translate 'Password Change' %}
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block sidebar_styles %}hidden lg:block
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block breadcrumbs %}
<li>
  <!-- prettier-ignore -->
  {% translate 'Password' %}
</li>
<li>
  <!-- prettier-ignore -->
  {% translate 'Change' %}
</li>
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block main_content %}
<section class="grid gap-8">
  <h1 class="text-3xl">
    <!-- prettier-ignore -->
    {% translate 'Change password' %}
  </h1>

  <p>
    <!-- prettier-ignore -->

    <!-- prettier-ignore -->
    {% blocktranslate %}
    Please enter your old password, for security's sake,
    and then enter your new password twice so we can verify you typed it in
    correctly.
    <!-- prettier-ignore -->

    <!-- prettier-ignore -->
    {% endblocktranslate %}
  </p>

  <!-- prettier-ignore -->

  <!-- prettier-ignore -->
  {% include 'ui/components/form.html' %}
</section>
<!-- prettier-ignore -->
{% endblock %}
