{% extends "registration/base.html" %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Sign up' %}{% endblock %}

<!---->
{% block content %}
<div
  class="flex col-span-12 py-24 items-center justify-center rounded-box bg-base-100"
>
  <section
    class="card relative overflow-hidden max-w-3xl rounded-box bg-base-200 shadow-xs lg:card-lg"
  >
    <header
      class="tooltip tooltip-bottom tooltip-primary tooltip-open mt-4 mx-auto"
      data-tip="{% trans 'Al-Quran' %}"
    >
      <a
        href="{% url 'al-quran:home' %}"
        class="btn btn-square btn-xl btn-primary"
      >
        <i data-lucide="book-open-text" class="size-6 lg:size-8"></i>
        <span class="sr-only">{% trans 'Al-Quran' %}</span>
      </a>
    </header>

    <main class="card-body gap-6">
      <h2 class="text-xl font-bold text-primary lg:text-3xl">
        {% trans 'Sign up' %}
      </h2>

      <p>{% trans 'Welcome, please signup to continue.' %}</p>

      <!---->
      {% include 'ui/components/form.html' %}
    </main>

    <footer class="grid grid-cols-2">
      <a
        href="{% url 'al-quran:login' %}"
        class="btn rounded-none btn-soft btn-primary"
      >
        {% trans 'Log in' %}
      </a>
      <a
        href="{% url 'al-quran:password_reset' %}"
        class="btn rounded-none btn-soft btn-primary"
      >
        {% trans 'Forgot password?' %}
      </a>
    </footer>
  </section>
</div>
{% endblock %}
