{% extends 'ui/base.html' %}{% load i18n %}

<div
  class="hidden font-sans font-serif font-kufam font-amiri font-fustat font-almarai font-reem font-cairo font-kufi font-reem-fun font-amiri-quran font-noto-ar"
></div>

<!---->
{% block prev %}
<div
  class="tooltip tooltip-bottom tooltip-success"
  data-tip="{% trans 'Previous' %}"
>
  <a
    href="{{ prev_url }}"
    class="btn btn-square btn-sm join-item btn-success lg:btn-md"
  >
    <i data-lucide="chevron-left" class="size-4 lg:size-6 rtl:rotate-180"></i>
    <span class="sr-only">{% trans 'Previous' %}</span>
  </a>
</div>
{% endblock %}

<!---->
{% block next %}
<div
  class="tooltip tooltip-bottom tooltip-success"
  data-tip="{% trans 'Next' %}"
>
  <a
    href="{{ next_url }}"
    class="btn btn-square btn-sm join-item btn-success lg:btn-md"
  >
    <i data-lucide="chevron-right" class="size-4 lg:size-6 rtl:rotate-180"></i>
    <span class="sr-only">{% trans 'Next' %}</span>
  </a>
</div>
{% endblock %}

<!---->
{% block content %}
<main dir="rtl" class="size-full">
  <div class="carousel gap-1 size-full p-px">
    {% for page in pages %}{% include 'ui/components/page.html' %}{% endfor %}
  </div>
</main>
{% endblock %}

<!---->
{% block footer %}
<div id="notification" class="toast toast-top toast-end top-24 z-10 hidden">
  <div role="alert" class="alert alert-success">
    <i data-lucide="circle-check" class="size-4 lg:size-6"></i>
    <span class="content">{% trans 'Copied' %}</span>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>

<script>
  const clipboard = new ClipboardJS(".copy");

  clipboard.on("success", (e) => {
    const not = document.getElementById("notification");

    // Show notification
    not.classList.toggle("hidden");

    // Hide notification after 2s
    setTimeout(() => {
      not.classList.toggle("hidden");
    }, 2000);
  });
</script>
{% endblock %}
