<!-- prettier-ignore -->
{% extends 'ui/base.html' %}{% load i18n %}
<!-- prettier-ignore -->
{% block nav_styles %}hidden lg:block
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block main_styles %}lg:pl-0 rtl:lg:pl-2 rtl:lg:pr-0
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block pagination %}
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block main %}
<div class="grid h-full w-full rounded-box bg-base-100">
  <section class="relative flex h-full flex-col gap-6">
    <header class="absolute inset-x-0 top-0 z-20">
      <nav
        class="flex items-center justify-between px-4 py-2 gap-2 backdrop-blur-3xl rounded-t-box lg:py-4"
      >
        <div class="breadcrumbs text-xs/6 p-0 lg:text-base/8">
          <ol>
            <!-- prettier-ignore -->

            <!-- prettier-ignore -->
            {% block breadcrumbs %}
            <!-- prettier-ignore -->
            {% endblock %}
          </ol>
        </div>

        <div class="flex items-center gap-2">
          <div
            class="tooltip tooltip-bottom"
            data-tip="{% translate 'Previous' %}"
          >
            <a
              href="{% block prev_url %}{% endblock %}"
              class="btn btn-sm btn-square btn-ghost lg:btn-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-left size-4 lg:size-6 rtl:rotate-180"
              >
                <path d="m15 18-6-6 6-6" />
              </svg>

              <span class="sr-only">
                <!-- prettier-ignore -->
                {% translate 'Previous' %}</span
              >
            </a>
          </div>

          <div class="tooltip tooltip-bottom" data-tip="{% translate 'Next' %}">
            <a
              href="{% block next_url %}{% endblock %}"
              class="btn btn-sm btn-square btn-ghost lg:btn-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-right size-4 lg:size-6 rtl:rotate-180"
              >
                <path d="m9 18 6-6-6-6" />
              </svg>

              <span class="sr-only">
                <!-- prettier-ignore -->
                {% translate 'Next' %}</span
              >
            </a>
          </div>

          <!-- prettier-ignore -->
          {% block extra_btns %}{% endblock %}
        </div>
      </nav>
    </header>

    <main dir="rtl" class="max-h-dvh h-full w-full pt-12 pb-2 lg:pt-18 lg:pb-8">
      <div class="carousel carousel-vertical gap-2 h-full w-full rounded-box">
        <!-- prettier-ignore -->
        {% with user=request.user %}
        <!-- prettier-ignore -->
        {% if user.interpretation or user.translation or user.transliteration %}
        <!-- prettier-ignore -->
        {% for page in pages %}{% include 'ui/components/page_full.html' %}{% endfor %}
        <!-- prettier-ignore -->
        {% else %}
        <!-- prettier-ignore -->
        {% for page in pages %}{% include 'ui/components/page.html' %}{% endfor %}
        <!-- prettier-ignore -->
        {% endif %}

        <!-- prettier-ignore -->
        {% endwith %}
      </div>
    </main>
  </section>
</div>
<!-- prettier-ignore -->
{% endblock %}
