{% extends 'ui/detail/base.html' %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {{ chapter.name }}{% endblock %}

<!---->
{% block extra_btns %}
<div
  class="tooltip tooltip-bottom tooltip-primary"
  data-tip="{% trans 'Info' %}"
>
  <button
    type="button"
    onclick="info.showModal()"
    class="btn btn-sm btn-square btn-ghost lg:btn-md"
  >
    <i data-lucide="info" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Info' %}</span>
  </button>
</div>
{% endblock %}

<!---->
{% block scripts %}{{ block.super }}
<dialog id="info" class="modal">
  <section class="modal-box grid gap-2 bg-base-100">
    <header class="flex items-center justify-between gap-2">
      <h1 class="text-2xl font-semibold rtl:font-kufi">
        {% trans 'Chapter' %} {{ chapter.name }}
      </h1>

      <form
        method="dialog"
        class="tooltip tooltip-bottom"
        data-tip="{% trans 'Close' %}"
      >
        <button type="submit" class="btn flex btn-square btn-ghost">
          <i data-lucide="x" class="size-4 lg:size-6"></i>
          <span class="sr-only">{% trans 'Close' %}</span>
        </button>
      </form>
    </header>

    <main class="grid gap-2">
      <ol class="list">
        <li class="list-row items-center">
          <div></div>
          <div>
            <h2 class="rtl:font-kufi text-lg font-semibold">
              {% trans 'Chapter' %}
            </h2>
          </div>
          <div>
            <p class="badge badge-neutral">{{ chapter.id }}</p>
          </div>
        </li>
        <li class="list-row items-center">
          <div></div>
          <div>
            <h2 class="rtl:font-kufi text-lg font-semibold">
              {% trans 'Name' %}
            </h2>
          </div>
          <div>
            <p class="badge badge-neutral {{ user.font|default:'font-kufi' }}">
              سُورَةُ {{ chapter.name }}
            </p>
          </div>
        </li>
        <li class="list-row items-center">
          <div></div>
          <div>
            <h2 class="rtl:font-kufi text-lg font-semibold">
              {% trans 'Type' %}
            </h2>
          </div>
          <div>
            <p class="badge badge-neutral">
              {% if chapter.type %}{% trans 'Meccan' %}
              <!---->
              {% else %}{% trans 'Medinan' %}{% endif %}
            </p>
          </div>
        </li>
        <li class="list-row items-center">
          <div></div>
          <div>
            <h2 class="rtl:font-kufi text-lg font-semibold">
              {% trans 'Order' %}
            </h2>
          </div>
          <div>
            <p class="badge badge-neutral">{{ chapter.order }}</p>
          </div>
        </li>
        <li class="list-row items-center">
          <div></div>
          <div>
            <h2 class="rtl:font-kufi text-lg font-semibold">
              {% trans 'Page count' %}
            </h2>
          </div>
          <div>
            <p class="badge badge-neutral">{{ chapter.page_count }}</p>
          </div>
        </li>
        <li class="list-row items-center">
          <div></div>
          <div>
            <h2 class="rtl:font-kufi text-lg font-semibold">
              {% trans 'Verse count' %}
            </h2>
          </div>
          <div>
            <p class="badge badge-neutral">{{ chapter.verse_count }}</p>
          </div>
        </li>
      </ol>
    </main>

    <div class="modal-action justify-center">
      <button onclick="info.close()" class="btn w-full btn-primary">
        {% trans 'Close' %}
      </button>
    </div>
  </section>
</dialog>
{% endblock %}
