{% extends 'ui/detail/base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {{ group.name }}{% endblock %}

{% block header_back_url %}{% url 'al-quran:groups' %}{% endblock %}

{% block header_content %}
<div class="grid gap-1">
  <h2 class="text-xl font-black">{{ group.name }}</h2>
  <span class="text-xs">
    {{ group.page_count }} {% translate 'pages' %}, {{ group.verse_count }} {% translate 'verses' %}
  </span>
</div>
{% endblock %}

{% block prev_url %}{% url 'al-quran:group-details' prev_id %}{% endblock %}
{% block next_url %}{% url 'al-quran:group-details' next_id %}{% endblock %}