{% extends 'ui/base.html' %}{% load i18n %}

<!---->
{% block content %}
<section id="main-content" class="grid gap-8">
  <div class="hero">
    <div class="hero-content py-40">
      <div class="max-w-xl">
        <h1 class="text-3xl text-primary font-black lg:text-7xl">
          {% block heading %}{% endblock %}
        </h1>
      </div>
    </div>
  </div>

  <main class="grid gap-4">
    <div class="flex items-center justify-end">
      <div
        data-tip="{% trans 'Filters' %}"
        class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
      >
        <button
          onclick="filters.showModal()"
          class="btn btn-square btn-primary lg:btn-lg"
        >
          <i data-lucide="list-filter" class="size-4 lg:size-6"></i>
          <span class="sr-only">{% trans 'Filters' %}</span>
        </button>
      </div>
    </div>
    <ol class="grid grid-cols-12 gap-4 lg:gap-6">
      {% block main %}{% endblock %}
    </ol>
  </main>

  {% block pagination %}
  <nav class="flex items-center p-4 gap-2 backdrop-blur-3xl rounded-b-box">
    {% include 'ui/components/pagination.html' %}
  </nav>
  {% endblock %}
</section>

<dialog id="filters" class="modal">
  <section class="relative modal-box grid max-w-xl gap-6 bg-base-100">
    <header class="flex items-center justify-between gap-4 text-primary">
      <h1 class="text-lg font-semibold lg:text-2xl">{% trans 'Filters' %}</h1>

      <div
        class="tooltip tooltip-left rtl:tooltip-right tooltip-error"
        data-tip="{% trans 'Close' %}"
      >
        <button
          onclick="filters.close()"
          class="btn btn-square btn-soft btn-primary hover:btn-error"
        >
          <i data-lucide="x" class="size-4 lg:size-6"></i>

          <span class="sr-only">{% trans 'Close' %}</span>
        </button>
      </div>
    </header>

    <main>
      {% include 'ui/components/form.html' with method='get' csrf=False form=filter.form %}
    </main>

    <footer class="-mx-5 -mb-5 grid">
      <button
        onclick="filters.close()"
        class="btn rounded-none rounded-t rounded-b-box btn-primary"
      >
        {% trans 'Close' %}
      </button>
    </footer>
  </section>
</dialog>
{% endblock %}
