{% extends 'ui/list/base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {% translate 'Chapters' %}{% endblock %}

{% block page_title %}{% translate 'Chapters' %}{% endblock %}

{% block sidebar_content %}
{% for chapter in chapter_list.all %}
<li id="item-{{ chapter.id }}" class="list-row items-center">
  <div class="tooltip tooltip-bottom" data-tip="{% translate 'Order' %} {{ chapter.order }}">
    <div class="avatar avatar-placeholder">
      <div
        class="w-10 rounded-full {% cycle 'bg-primary text-primary-content' 'bg-secondary text-secondary-content' 'bg-accent text-accent-content' 'bg-success text-success-content' 'bg-warning text-warning-content' 'bg-error text-error-content' 'bg-neutral text-neutral-content' %}">
        <span class="text-lg font-black">{{ chapter.id }}</span>
      </div>
    </div>
  </div>
  <div>
    <h3 style="font-family: 'Noto Kufi Arabic';">{{ chapter.name }}</h3>
    <div class="text-xs font-semibold uppercase opacity-60">
      {% if chapter.type %}{% translate 'Meccan' %}{% else %}{% translate 'Medinan' %}{% endif %},
      {{ chapter.verse_count }} {% translate 'verses' %}
    </div>
  </div>
  <div class="tooltip tooltip-bottom" data-tip="{% translate 'Read' %}">
    <a href="{% url 'al-quran:chapter-details' chapter.id %}" class="btn btn-square btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-chevron-right rtl:rotate-180">
        <path d="m9 18 6-6-6-6" />
      </svg>

      <span class="sr-only">{% translate 'Read' %}</span>
    </a>
  </div>
</li>
{% endfor %}
{% endblock %}

{% block modal_title %}{% translate 'Chapters' %}{% endblock %}

{% block modal_content %}
<p>
  {% blocktranslate %}The Quran consists of 114 suras, each of which varies in length and covers various aspects of
  guidance, laws, and stories. Each surah has a unique theme and message that contributes to the overall teachings of
  the Quran.{% endblocktranslate %}
</p>
{% endblock %}