<!-- prettier-ignore -->
{% extends 'ui/list/base.html' %}{% load i18n %}

<!-- prettier-ignore -->
{% block title %}{{ block.super }} | {% translate 'Pages' %}{% endblock %}

<!-- prettier-ignore -->
{% block page_title %}{% translate 'Pages' %}{% endblock %}

<!-- prettier-ignore -->
{% block sidebar_content %}
<!-- prettier-ignore -->
{% for page in page_list.all %}
<li id="item-{{ page.id }}" class="list-row relative items-center">
  <div
    class="tooltip tooltip-right z-10 rtl:tooltip-left"
    data-tip="{{ page.chapter }}, {{ page.part }}, {{ page.group }}, {{ page.quarter }}"
  >
    <div class="avatar avatar-placeholder">
      <div class="w-10 rounded-full bg-primary text-primary-content">
        <span class="text-lg font-black">{{ page.id }}</span>
      </div>
    </div>
  </div>
  <div>
    <div>{{ page.name }}</div>
    <div class="text-xs font-semibold uppercase opacity-60">
      {{ page.verse_count }} {% translate 'verses' %}
    </div>
  </div>
  <div class="tooltip tooltip-bottom z-10" data-tip="{% translate 'Read' %}">
    <button class="btn btn-sm btn-square btn-ghost lg:btn-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-right size-4 lg:size-6 rtl:rotate-180"
      >
        <path d="m9 18 6-6-6-6" />
      </svg>

      <span class="sr-only">{% translate 'Read' %}</span>
    </button>
  </div>
  <a href="{% url 'al-quran:page-details' page.id %}" class="absolute inset-0">
    <span class="sr-only">{% translate 'Read' %}</span>
  </a>
</li>
{% endfor %}
<!-- prettier-ignore -->
{% endblock %}
