{% extends 'ui/list/base.html' %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {% trans 'Pages' %}{% endblock %}

<!---->
{% block heading %}{% trans 'Pages' %}{% endblock %}

<!---->
{% block main %}
<!---->
{% for page in page_list.all %}
<li id="item-{{ page.id }}" class="col-span-12 md:col-span-6 lg:col-span-4">
  <div
    class="card shadow-sm size-full rounded-box card-sm overflow-hidden hover:bg-base-200 hover:shadow-xl md:card-md lg:card-lg xl:card-xl"
  >
    <span
      class="badge badge-soft badge-primary rounded-xs lg:badge-lg xl:badge-xl"
    >
      {% trans 'Page' %} {{ page.id }}
    </span>

    <div class="card-body gap-4 lg:gap-6">
      <h2 class="card-title {{ user.font|default:'font-kufi' }}">
        {% trans 'Page' %} {{ page.id }}
      </h2>

      <ul class="grid gap-2 grid-cols-2">
        <li class="tooltip tooltip-top" data-tip="{% trans 'Chapter' %}">
          <span class="flex items-center gap-2 lg:gap-4">
            <i data-lucide="scroll-text" class="size-4 lg:size-6"></i>
            {% trans 'Chapter' %} {{ page.chapter_id }}
          </span>
        </li>
        <li class="tooltip tooltip-top" data-tip="{% trans 'Part' %}">
          <span class="flex items-center gap-2 lg:gap-4">
            <i data-lucide="component" class="size-4 lg:size-6"></i>
            {% trans 'Part' %} {{ page.part_id }}
          </span>
        </li>
        <li class="tooltip tooltip-top" data-tip="{% trans 'Group' %}">
          <span class="flex items-center gap-2 lg:gap-4">
            <i data-lucide="grid-2x2" class="size-4 lg:size-6"></i>
            {% trans 'Group' %} {{ page.group_id }}
          </span>
        </li>
        <li class="tooltip tooltip-top" data-tip="{% trans 'Group' %}">
          <span class="flex items-center gap-2 lg:gap-4">
            <i data-lucide="grid-3x3" class="size-4 lg:size-6"></i>
            {% trans 'Quarter' %} {{ page.quarter_id }}
          </span>
        </li>
        <li class="tooltip tooltip-top" data-tip="{% trans 'Verses' %}">
          <span class="flex items-center gap-2 lg:gap-4">
            <i data-lucide="book-text" class="size-4 lg:size-6"></i>
            {{ page.verse_count }} {% trans 'verses' %}
          </span>
        </li>
      </ul>

      <a
        href="{% url 'al-quran:page' page.id %}"
        class="btn btn-primary lg:btn-lg"
      >
        {% trans 'Read' %}
        <i
          data-lucide="chevron-right"
          class="size-4 lg:size-6 rtl:rotate-180"
        ></i>
      </a>
    </div>
  </div>
</li>
{% endfor %}
<!---->
{% endblock %}
