{% extends 'ui/list/base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {% translate 'Quarters' %}{% endblock %}

{% block page_title %}{% translate 'Quarters' %}{% endblock %}

{% block sidebar_content %}
{% for quarter in quarter_list.all %}
<li id="item-{{ quarter.id }}" class="list-row items-center">
  <div class="tooltip tooltip-bottom" data-tip="{{ quarter.part }}-{{ quarter.group }}">
    <div class="avatar avatar-placeholder">
      <div
        class="w-10 rounded-full {% cycle 'bg-primary text-primary-content' 'bg-secondary text-secondary-content' 'bg-accent text-accent-content' 'bg-success text-success-content' 'bg-warning text-warning-content' 'bg-error text-error-content' 'bg-neutral text-neutral-content' %}">
        <span class="text-lg font-black">{{ quarter.id }}</span>
      </div>
    </div>
  </div>
  <div>
    <div>{{ quarter.name }}</div>
    <div class="text-xs font-semibold uppercase opacity-60">
      {{ quarter.page_count }} {% translate 'pages' %},
      {{ quarter.verse_count }} {% translate 'verses' %}
    </div>
  </div>
  <div class="tooltip tooltip-bottom" data-tip="{% translate 'Read' %}">
    <a href="{% url 'al-quran:quarter-details' quarter.id %}" class="btn btn-square btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-chevron-right rtl:rotate-180">
        <path d="m9 18 6-6-6-6" />
      </svg>

      <span class="sr-only">{% translate 'Read' %}</span>
    </a>
  </div>
</li>
{% endfor %}
{% endblock %}

{% block modal_title %}{% translate 'Quarters' %}{% endblock %}

{% block modal_content %}
<p>
  {% blocktranslate %}Each group is divided into four quarters, also known as quarters. This makes a total of 240
  quarters in the Quran. It provides an even more granular division, making it easier to track recitation and
  memorization progress.{% endblocktranslate %}
</p>
{% endblock %}