{% extends 'ui/detail/base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {{ quarter.name }}{% endblock %}

{% block header_back_url %}{% url 'al-quran:quarters' %}{% endblock %}

{% block header_content %}
<div class="grid gap-1">
  <h2 class="text-xl font-black">{{ quarter.name }}</h2>
  <span class="text-xs">
    {{ quarter.page_count }} {% translate 'pages' %}, {{ quarter.verse_count }} {% translate 'verses' %}
  </span>
</div>
{% endblock %}

{% block prev_url %}{% url 'al-quran:quarter-details' prev_id %}{% endblock %}
{% block next_url %}{% url 'al-quran:quarter-details' next_id %}{% endblock %}